body {
  font-family: 'Open Sans Condensed', sans-serif;
}


.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 5% 38% 4% 38% 5%;
  grid-template-rows: 10% 10% 35% 35% 10%;
  grid-gap: 1px 1px;
  grid-template-areas:  '. header header header .'
                        '. menu menu menu .'
                        '. ingredients . image .'
                        '. ingredients . image .'
                        '. footer footer footer .';
}

.header {
  grid-area: header;
  font-family: garamond;
  font-size: 4rem;
  text-align: right;
  margin-top: 0px;
  margin-bottom: 0px;
}

.main {
  flex: 1;
}

.menu {
  grid-area: menu;
}

.article {
  grid-area: ingredients;
}

.ingredients {
  text-align: center-left;
  list-style-type: none;
  font-size: 1.5rem;
  padding-left: 0px;
}

.aside {
  grid-area: image;
}

.foodImage {
  width: 100%;
  height: auto;
}

.footer {
  grid-area: footer;
}
