.main {
  flex: 1;
}

.wrapper {
  display: grid;
  width: 100%;
  grid-template-areas:
  "blank header header header blank"
  "blank title title title blank"
  "blank ingredients blank image blank"
  "blank ingredients blank image blank"
  "blank footer footer footer blank";
  grid-template-rows: 10% 10% 35% 35% 10%;
  grid-template-columns: 10% 38% 4% 38% 10%;
}

body {
  font-family: 'Open Sans Condensed', sans-serif;
}

.ingredients {
  text-align: center-left;
  list-style-type: none;
  margin-right: 20px;
  font-size: 1.5rem;
}

.foodImage {
  width: 100%;
  height: auto;
}

.title {
  grid-area: title;
  font-family: garamond;
  font-size: 4rem;
  margin-top: 0.1em;
  margin-right: 5%;
  margin-bottom: 0.1em;
  text-align: right;
}

.article {
  grid-area: ingredients;
}

.aside {
  grid-area: image;
}
