body {
  font-family: 'Open Sans Condensed', sans-serif;
}


.wrapper {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: .1fr .1fr 1fr .1fr;
  grid-gap: 1px 1px;
  grid-template-areas:  'header header'
                        'menu menu'
                        'article aside'
                        'footer footer';
}


.main {
  flex: 1;
}

.menu {
  grid-area: menu;
  padding-left: 2.5%;
}

.article {
  grid-area: article;
  padding-left: 5%;
}

.ingredients {
  flex: 50%;
  text-align: center-left;
  list-style-type: none;
  font-size: 1.5rem;
  padding-left: 0px;
}

.method{
  flex: 50%;
  text-align: center-left;
  list-style-type: none;
  font-size: 1.5rem;
  padding-left: 0%;
}

.aside {
  grid-area: aside;
  background-size: cover;
  padding-right: 5%;
  position: center;
}

.foodImage {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.footer {
  grid-area: footer;
}
